<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
  </head>
  <body>
    <%- include('../partials/adminNav') %>
    <section class="admin flex-container column-flex gap30 hero">
      <h1>Add Category</h1>
      <form
        action="/category/add"
        method="POST"
        enctype="multipart/form-data"
        class="flex-container column-flex gap5"
      >
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required />

        <button type="submit" class="button">Add Category</button>
      </form>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
